<div [formGroup]="form">
    <div [formGroupName]='field.name'>

        <mat-grid-list [cols]="entityData.form.cols" rowHeight="4em" *ngIf="entityData.form.localizedAllFields || entities.isEditMode">
            <mat-grid-tile [colspan]="field.cols/Lang.length" [rowspan]="field.rows * 2" *ngFor="let lang of Lang">
                <div class="example-full-width" appearance="outline">
                    <mat-label>{{field.label || field.name | translate}} {{'in ' + lang | translate}}</mat-label>
                    <mat-label class="warn-color mat-subheading-1" *ngIf="field.required">*</mat-label>
                    <!-- <input autocomplete="false" matInput [readonly]="(lang ==='en' || lang ==='ms') && !entities.isEditMode" *ngIf="!field.multiline" [attr.type]="field.type" [min]="field.min" [min]="field.max" [name]="isArray?field.name+date:field.name" [id]="isArray?field.name+date:field.name"
                        (change)="entities.form = form" [formControlName]="lang" [errorStateMatcher]="matcher" placeholder="{{ field.label?field.label:field.name | translate}} {{'in ' + lang | translate}}">
                    <textarea autocomplete="false" matInput *ngIf="field.multiline" [attr.type]="field.type" lines="3" [name]="isArray?field.name+date:field.name" [id]="isArray?field.name+date:field.name" (change)="entities.form = form" [formControlName]="lang" [errorStateMatcher]="matcher"
                        placeholder="{{ field.label?field.label:field.name | translate}} {{'in ' + lang | translate}}"></textarea> -->
                    <!-- <angular-editor placeholder="{{ field.label?field.label:field.name | translate}} {{'in ' + lang | translate}}" [formControlName]="lang"></angular-editor> -->
                    <ckeditor [editor]="Editor" [disabled]="field.disabled" [formControlName]="lang" (ready)="onReady($event)"></ckeditor>

                    <!-- <mat-hint class="warn-color mat-subheading-1">{{field.details }}</mat-hint> -->

                    <mat-error *ngIf="!isValid">
                        {{'Please enter a valid' |translate}} {{field.label |translate}}
                    </mat-error>
                    <mat-error *ngIf="isDirty">
                        {{field.label |translate}} {{'is' |translate}} <strong>{{'required' |translate}}</strong>
                    </mat-error>
                </div>
            </mat-grid-tile>
        </mat-grid-list>

        <div class="example-full-width" appearance="outline" *ngIf="!entityData.form.localizedAllFields && ! entities.isEditMode">
            <mat-label>{{field.label || field.name | translate}} {{'in '+override.currentLang | translate}}
            </mat-label>
            <mat-label class="warn-color mat-subheading-1" *ngIf="field.required">*</mat-label>
            <ckeditor [editor]="Editor" [disabled]="field.disabled" formControlName="{{override.currentLang}}" (ready)="onReady($event)"></ckeditor>

            <!-- <mat-hint class="warn-color mat-subheading-1">{{field.details }}</mat-hint> -->


        </div>
    </div>



</div>