<div class="card p-0 mt-2 bg-transparent border-0 round-0">
  <div class="row justify-content-center">
    <div class="col-12 col-xl-4 col-lg-4 col-md-5 col-sm-6 mt-2 p-0">
      <img
        src="assets/img/employee-wearing-mask.jpg"
        class="img-fluid m-auto d-block"
      />
    </div>
    <div class="col-12 col-xl-8 col-lg-8 col-md-7 col-sm-6 mt-2 p-0">
      <div class="card-body pt-0 pb-0">
        <h4 class="text-capitalize font-weight-bold">post title</h4>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy
        </p>
      </div>
    </div>
  </div>
  <div class="card-footer border-0">
    <div class="row justify-content-between align-items-center">
      <div class="col-auto">
        <div class="row">
          <div class="col-auto d-flex justify-content-center mt-2">
            <mat-icon>date_range</mat-icon>
            <span class="mr-2 ml-2">October / 10 / 2020</span>
          </div>
          <div class="col-auto d-flex justify-content-center mt-2">
            <mat-icon>create</mat-icon>
            <span class="mr-2 ml-2">Symbios</span>
          </div>
        </div>
      </div>
      <div class="col-auto mt-2">
        <button
          mat-flat-button
          color="primary"
          class="d-block m-auto"
          routerLink="/resources/article-page"
          i18n
        >
          Read More
        </button>
      </div>
    </div>
  </div>
</div>
