<section>
  <div class="container">
    <div class="row p-5 justify-content-center align-items-center">
      <div class="col-11 col-xl-9 col-lg-8 col-md-10 col-sm-10">
        <!-- <h5 class="" i18n>Are you prepared for the "new normal" ?</h5> -->
        <p i18n>
          We've created a free digital assessment from top research bodies to
          help organizations understand the impact of COVID-19 on their business
          and assess their readiness to respond. We have aggregated a list of
          questions to help assess the preparedness of your organization to this
          "new normal".
        </p>
      </div>
      <div class="col-11 col-xl-3 col-lg-4 col-md-10 col-sm-10">
        <button mat-flat-button color="light" class="m-auto d-block" routerLink="/contactUS" i18n>
          Take Survey
        </button>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <ng-container *ngFor="let detailes of sectionHeader">
      <app-section-header [sectionHeader]="detailes"></app-section-header>
    </ng-container>

    <div class="row">
      <div class="col-12 mt-5">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide *ngFor="let card of ALLsolution">
            <div class="slide">
              <div class="card">
                <img class="card-img-top img-fluid m-auto rounded-circle d-block" [src]="card.image">
                <div class="card-body">
                  <h5 class="card-title text-center"> {{card?.title[override.currentLang]}} </h5>
                  <p class="card-text text-center"> {{card?.description[override.currentLang]}}</p>

                </div>
              </div>
            </div>
          </ng-template>
        </owl-carousel-o>

      </div>
    </div>
  </div>
</section>
