<mat-form-field class="example-chip-list" appearance="outline">
    <mat-chip-list #chipList aria-label="Fruit selection">
      <mat-chip  *ngFor="let word of form.get(field.name).value"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(word)">
        {{word}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="{{field.label || field.name | translate}}"
        #chipInput
        [formControl]="fruitCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
        {{fruit}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>