<div [formGroup]="form">
    <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>{{field.label || field.name | translate}}</mat-label>
        <mat-label class="warn-color mat-subheading-1" *ngIf="field.required">*</mat-label>

        <input matInput [ngxMatColorPicker]="picker" [name]="isArray?field.name+date:field.name" readonly
            [id]="isArray?field.name+date:field.name"  (focus)="picker.open()"
            autocomplete="false" [attr.disabled]="field.disabled" [min]="field.min" [min]="field.max"
            (change)="entities.form = form" [formControlName]="field.name" [errorStateMatcher]="matcher"
            placeholder="{{ field.label?field.label:field.name | translate}}">
        <ngx-mat-color-toggle matSuffix [for]="picker"></ngx-mat-color-toggle>
        <ngx-mat-color-picker #picker [touchUi]="true" [color]="'primary'"   ></ngx-mat-color-picker>


        <mat-hint class="warn-color mat-subheading-1">{{field.details }}</mat-hint>

        <mat-error *ngIf="!isValid">
            {{'Please enter a valid' |translate}} {{field.label |translate}}
        </mat-error>
        <mat-error *ngIf="isDirty">
            {{field.label |translate}} {{'is' |translate}} <strong>{{'required' |translate}}</strong>
        </mat-error>
    </mat-form-field>
</div>