<div [formGroup]="form">
    <mat-form-field class="example-full-width" appearance="outline">
        <input type="text" [placeholder]="field.label" aria-label="Number" [errorStateMatcher]="matcher" matInput (input)="reriveData()" [formControlName]="field.name" [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
            </mat-option>
        </mat-autocomplete>

        <mat-error *ngIf="!isValid">
            {{'Please enter a valid' |translate}} {{field.label |translate}}
        </mat-error>
        <mat-error *ngIf="isDirty">
            {{field.label |translate}} {{'is' |translate}} <strong>{{'required' |translate}}</strong>
        </mat-error>
    </mat-form-field>
</div>