<div [formGroup]="form">
    <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>{{field.label || field.name | translate}}</mat-label>
        <mat-label class="warn-color mat-subheading-1" *ngIf="field.required">*</mat-label>
        <input autocomplete="false" matInput *ngIf="!field.multiline" [attr.readonly]="field.readonly" [name]="isArray?field.name+date:field.name" [id]="isArray?field.name+date:field.name" (change)="entities.form = form" [formControlName]="field.name" [matDatepicker]="datePiker"
            (click)="datePiker.open()" (change)="datePiker.open()" [errorStateMatcher]="matcher" placeholder="{{ field.label?field.label:field.name | translate}}">

        <mat-datepicker-toggle matSuffix [for]="datePiker"></mat-datepicker-toggle>
        <mat-datepicker #datePiker disabled="false"></mat-datepicker>

        <mat-hint class="warn-color mat-subheading-1">{{field.details }}</mat-hint>

        <mat-error *ngIf="!isValid">
            {{'Please enter a valid' |translate}} {{field.label |translate}}
        </mat-error>
        <mat-error *ngIf="isDirty">
            {{field.label |translate}} {{'is' |translate}} <strong>{{'required' |translate}}</strong>
        </mat-error>
    </mat-form-field>
</div>