@import '../../../styles.scss';

section {
  background-color  : $light-color;
  padding-top: 10vh;
  padding-bottom: 10vh;
//   min-height: 100vh;
  h6{
    color: $main-color;
    font-weight: 800;
    &.active{
      color: $accent-color;
    }
  }

}
