@import "../../../../../styles.scss";

footer {
  margin-top: 8vh;
  background-color: $second-color;
  h1 {
    color: $white-color;
    font-size: 2.8rem;
    font-weight: bold;
    text-align: center;
  }
  h4 {
    color: $main-color;
    text-align: center;
  }
  hr {
    height: 0.5px;
    background-color: $light-color;
    opacity: 0.1;
    margin-top: 7.5vh;
  }
  h5 {
    color: $white-color;
    border-bottom: 1.5px solid $main-color;
    padding-bottom: 1rem;
    width: fit-content;
  }

  p {
    color: $white-color;
    opacity: 0.75;
    margin-top: 2rem;
  }
  h6 {
    color: $main-color;
    margin-top: 5vh;
  }
  ul {
    padding: 0;
    margin-top: 2rem;
    padding-left: 1rem;
    li {
      color: $white-color;
      opacity: 0.75;
      line-height: 2rem;

      a {
        color: $white-color !important;
        font-weight: bold;
      }
      &:hover {
        opacity: 1;
        color: $main-color !important;
        a {
          color: $main-color !important;
        }
      }
    }
  }

  img {
    height: 100px !important;
  }
  .container-fluid {
    background-color: rgba(0, 0, 0, 0.4);
    a {
      color: $main-color;
      opacity: 1;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
