@import '../../../styles.scss';

section {
    margin-top      : 10vh;
    background-color: $white-color;
 

    .container {
        background-size    : cover;
        background         : $second-color url("../../../assets/img/survey.jpg") fixed;
        background-position: center;
        background-repeat  : no-repeat;
        background-size    : cover;
        border-radius: 25px;
        overflow: hidden;
        .row{
            background-color: $accent-rgba-75;
            h5{
                color: $white-color;
                font-weight: 700;
            }
            p{
                color: $white-color;
                margin-top: 1rem;
                opacity: 0.9;
            }
            .mat-flat-button{
                color: $second-color !important;
                font-size: 1.2rem !important;
                font-weight: 700;
                padding: 1rem !important;
                padding: 1rem 1.3rem 0.9rem 1.3rem;
            }
        }
    }
}