<div class="pagination-wrapper ">
    <div class="pagination shadow-sm">
      <a routerLink="" class="prev page-numbers" i18n>Prev</a>
      <span aria-current="page" class="page-numbers current">1</span>
      <a routerLink="" class="page-numbers">2</a>
      <a routerLink="" class="page-numbers">3</a>
      <a routerLink="" class="page-numbers">4</a>
      <a routerLink="" class="page-numbers">5</a>
      <a routerLink="" class="page-numbers">6</a>
      <a routerLink="" class="page-numbers">7</a>
      <a routerLink="" class="page-numbers">8</a>
      <a routerLink="" class="next page-numbers" i18n> Next</a>
    </div>
  </div>