@import '../../../../styles.scss';



@mixin breakpoint ($value) {
    @if $value == 'phone' {
      @media only screen and (min-width: 120px) and (max-width: 767px) { @content; }
    } @else if $value == 'tablet' {
      @media only screen and (min-width: 768px) and (max-width: 1024px) { @content; }
    } @else if $value == 'touch' {
      @media only screen and (min-width: 120px) and (max-width: 1024px) { @content; }
    } @else if $value == 'desktop' {
      @media only screen and (min-width: 1025px) { @content; }
    } @else {
      @media only screen and (max-width: $value) { @content; }
    }
  }
  

  

  .pagination-wrapper {
    text-align: center;
    margin: 40px 0;
  }
  
  .pagination {
      display: inline-block;
      height: 60px;
      margin-top: 70px;
      padding: 0 25px;
      border-radius: 35px;
      background-color: $white-color;
  
      @include breakpoint(1199px) {
          height: 50px;
          margin-top: 50px;
          padding: 0 10px;
          border-radius: 25px;
      }
  }
  
  .page-numbers {
      display: block;
      padding: 0 20px;
      float: left;
      transition: 0.5s;
      color: $main-color;
      font-size: 20px;
      letter-spacing: 0;
      line-height: 60px;
  
      &:hover,
      &.current {
          background-color: $main-color;
          color: $white-color;
      }
  
      &.prev:hover,
      &.next:hover {
          background-color: transparent;
      color: $main-color;
      }
  
      @include breakpoint(1199px) {
          padding: 0 15px;
          font-size: 0.9rem;
          line-height: 50px;
      }
  
      @include breakpoint(touch) {
          padding: 0 10px;
          display: none;
  
          &:nth-of-type(2) {
              position: relative;
              padding-right: 50px;
  
              &::after {
                  content: '...';
                  position: absolute;
                  font-size: 25px;
                  top: 0;
                  left: 45px;
              }
          }
  
          &:nth-child(-n+3),
          &:nth-last-child(-n+3) {
              display: block;
          }
  
          &:nth-last-child(-n+4) {
              padding-right: 14px;
  
              &::after {
                  content: none;
              }
          }
      }
  }