<footer>
  <div class="container pt-5">
    <div class="row align-content-center justify-content-between">
      <div class="col-lg-3 col-sm-5 mt-2 mb-4">
        <img
          src="assets/EWJ white.png"
          class="img-fluid d-block m-auto"
          height="250px"
        />
      </div>
      <div class="col-lg-3 col-sm-5 mt-2">
        <h5 i18n>CATEGORIES</h5>
        <ul>
          <li><a routerLink="/" i18n>Home </a></li>
          <!-- <li><a routerLink="" i18n>Mission </a></li> -->
          <li><a routerLink="/solutions" i18n>Solutions</a></li>
          <li><a routerLink="/assessment-page" i18n>Free Assessment</a></li>
          <li><a routerLink="parteners-page" i18n>Solution Partners</a></li>
          <li><a routerLink="" i18n>Resources </a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-sm-5 mt-2">
        <h5 i18n>GET START</h5>
        <ul>
          <li><a routerLink="/product-journey" i18n>How to start</a></li>
          <li><a routerLink="/parteners-page" i18n>Solution Partners</a></li>
          <li><a routerLink="/assessment-page" i18n>Free Assessment</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container-fluid mt-5 p-4">
    <div class="row justify-content-center align-content-center">
      <div class="col-auto">
        <p i18n>
          © Copyright 2020 Reserved

          <a class="text-capitalize" href="/"> EWJ </a>
        </p>
      </div>
    </div>
  </div>
</footer>
